<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="post">
        <button name="choise" value="gen" type="submit">Generate the data</button>
        <button name="choise" value="del" type="submit">Delete dbs</button>
    </form>

    
</body>
</html>